<!DOCTYPE html>
<html lang="en">
        <head>
		<title>Summa Economicae</title> 
                <meta charset="UTF-8"> 
                <meta name="description" contents="Economics by logic."> 
                <meta name="author" content="Anand Beh"> 
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <style>
                        body {background-color: #EBECCD;}
                </style>
                <base href="https://econ.arim.space/" target="_blank">
        </head>
        <body>
